[Unit]
Description=Caddy HTTP/2 web server
After=network-online.target
Requires=network-online.target

[Service]
WorkingDirectory={{ caddy_install_dir }}
Environment=CADDYPATH={{ caddy_data_dir }}

User=caddy
Group=caddy

TimeoutStopSec=5s

PrivateTmp=true
PrivateDevice=false
ProtectHome=true
ProtectSystem=full
ReadWriteDirectories={{ caddy_data_dir }}

ExecStart={{ caddy_install_dir }}/caddy run --environ --config {{ caddy_config_dir }}/Caddyfile
ExecReload={{ caddy_install_dir }}/caddy reload --config {{ caddy_config_dir }}/Caddyfile

LimitNOFILE=1048576
LimitNPROC=512
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
