[Unit]
Description={{ name }} service
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=5
ExecStart={{ exec }} {{ args }}

[Install]
WantedBy=multi-user.target
