[Unit]
Description=docker {{ name }} container service
Wants=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker rm -f {{ name }}
ExecStart=/usr/bin/docker run --name {{ name }} --log-driver=none {{ opts }} {{ image }} {{ args }}
ExecStop=-/usr/bin/docker rm -f {{ name }}

[Install]
WantedBy=multi-user.target
