[Interface]
Address = {{ local.wg_tunnel_cidr }}
ListenPort = 51820
PrivateKey = {{ local.private_key }}

PostUp = iptables -t filter -N DOCKER-USER 2>/dev/null || true
PostUp = iptables -I DOCKER-USER -i {{ wg_interface }} -j ACCEPT
PostUp = iptables -I DOCKER-USER -o {{ wg_interface }} -j ACCEPT
PostDown = iptables -D DOCKER-USER -i {{ wg_interface }} -j ACCEPT
PostDown = iptables -D DOCKER-USER -o {{ wg_interface }} -j ACCEPT

{% for peer in remote_peers %}
[Peer]
PublicKey = {{ peer.public_key }}
Endpoint = {{ peer.host_ip }}:51820
AllowedIPs = {{ peer.wg_tunnel_cidr.split('/')[0] }}/32, {{ peer.docker_mesh_subnet }}
PersistentKeepalive = 25

{% endfor %}