[Interface]
Address = {{ local.tunnel_cidr }}
ListenPort = 51820
PrivateKey = {{ local.private_key }}

PostUp = iptables -I FORWARD -i {{ wg_interface }} -j ACCEPT
PostUp = iptables -I FORWARD -o {{ wg_interface }} -j ACCEPT
PostDown = iptables -D FORWARD -i {{ wg_interface }} -j ACCEPT
PostDown = iptables -D FORWARD -o {{ wg_interface }} -j ACCEPT

{% for peer in remote_peers %}
[Peer]
PublicKey = {{ peer.public_key }}
Endpoint = {{ peer.host_ip }}:51820
AllowedIPs = {{ peer.tunnel_cidr.split('/')[0] }}/32, {{ peer.docker_subnet }}
PersistentKeepalive = 25

{% endfor %}